<section class="page-section" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 mx-auto">
                <div class="form-group controls pregunta">
                    <label> Caracterización de los Participantes</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="control-group cajapregunta">
                    <!-- --------------------------------------------------------------------------------- -->
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="form-group controls">
                                <p>Por favor, complete la siguiente información.</p>
                            </div>
                            <div class="row" style="padding-left: 30px;">
                                <div class="col-lg-3 mx-auto">
                                    <select [(ngModel)]="genero">
                                        <option value="-1">Seleccione</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                                <div class="col-lg-9 mx-auto" style="text-align: justify; padding-left: 150px;">
                                    Indique su género
                                </div>
                            </div>
                            <br>
                            <div class="row" style="padding-left: 30px;">
                                <div class="col-lg-3 mx-auto">
                                    <select [(ngModel)]="condicion">
                                        <option value="-1">Seleccione</option>
                                        <option value="Alumno tesista.">Alumno tesista.</option>
                                        <option value="Egresado en 2019.">Egresado en 2019.</option>
                                        <option value="Egresado en 2018.">Egresado en 2018.</option>
                                        <option value="Profesional con 2 o más años de experiencia.">Profesional con 2 o más años de experiencia.</option>
                                    </select>
                                </div>
                                <div class="col-lg-9 mx-auto" style="text-align: justify;padding-left: 150px;">
                                    Indique su condición de estudiante.
                                </div>
                            </div>
                            <br>
                            <div class="row" style="padding-left: 30px;">
                                <div class="col-lg-3 mx-auto">
                                    <select [(ngModel)]="lugarEstudios">
                                        <option value="-1">Seleccione</option>
                                        <option value="Universidad del Bío – Bío. ">Universidad del Bío – Bío.</option>
                                        <option value="Otra Universidad.">Otra Universidad.</option>
                                        <option value="Instituto Profesional.">Instituto Profesional.</option>
                                        <option value="Centro de Formación Técnica.">Centro de Formación Técnica. </option>
                                    </select>
                                </div>
                                <div class="col-lg-9 mx-auto" style="text-align: justify; padding-left: 150px;">
                                    Indique su lugar de estudios.
                                </div>
                            </div>
                            <br>
                            <div class="row" style="padding-left: 30px;">
                                <div class="col-lg-3 mx-auto">
                                   <input type="text" style="width: 350px" maxlength="50" [(ngModel)]="ocupacion">
                                </div>
                                <div class="col-lg-9 mx-auto" style="text-align: justify; padding-left: 150px;">
                                   Indique su ocupación.
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-2 mx-auto">
                                <button class="btn btn-primary btn-xl" [class.botonDisabled]="genero === '-1' || lugarEstudios === '-1' || condicion === '-1' || ocupacion === ''" [disabled]="genero === '-1' || lugarEstudios === '-1' || condicion === '-1' || ocupacion === ''" (click)="continuar()">continuar</button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
    </div>
</section>