.pregunta {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}

.tituloPregunta {
    color: #333;
    background-color: #d889cb;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.items {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.ppp {
    display: block;
    margin-left: 20px;
    padding-top: 10px;
}