<h1>Primera Parte: Derecho Laboral.</h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°1
    </div>
    <div>
        <p class="ppp">De acuerdo al artículo 22 del Código del Trabajo, la jornada laboral ordinaria no excederá las 45 horas semanales, exceptuando:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="a">
            <p class="ppp">Trabajadores que presten servicios a diferentes empleadores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="b">
            <p class="ppp">Gerentes, administradores, y apoderados con facultades de administración. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="c">
            <p class="ppp">Vendedores viajantes, comisionistas, cobradores y todos aquellos trabajadores que no ejerzan sus funciones en el local o establecimiento, o aquellos que presten servicios dentro de naves pesqueras.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="d">
            <p class="ppp">Todas las anteriores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="e">
            <p class="ppp">Ninguna de las anteriores puesto que un trabajador no puede, ni debe tener una jornada mayor a 45 horas semanales.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°2
    </div>
    <div>
        <p class="ppp">Con respecto a las horas extraordinarias (llamadas horas extras), es falso afirmar que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="a">
            <p class="ppp">Pueden pactarse un máximo de 2 horas extraordinarias por día para cada trabajador.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="b">
            <p class="ppp">Las horas extraordinarias pueden pactarse de manera indefinida. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="c">
            <p class="ppp">Las horas extraordinarias se pagarán con un recargo del 50% sobre el sueldo convenido para la jornada ordinaria.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="d">
            <p class="ppp">Las horas extraordinarias solo son pactadas para satisfacer necesidades temporales de la empresa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="e">
            <p class="ppp">Ninguna de las anteriores. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°3
    </div>
    <div>
        <p class="ppp">De las siguientes contraprestaciones en dinero, ¿cuál no corresponde a remuneración?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="a">
            <p class="ppp">Sobresueldo (correspondiente a horas extras).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="b">
            <p class="ppp">Prestaciones familiares asignadas por ley.  </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="c">
            <p class="ppp">Participación, que es la proporción en las utilidades de un negocio determinado. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="d">
            <p class="ppp">Comisión por ventas. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="e">
            <p class="ppp">Todas corresponden a remuneraciones.  
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°4
    </div>
    <div>
        <p class="ppp">Lea la siguiente información y determine cuánto le corresponde al trabajador por concepto de horas extras:</p>
        <p class="ppp">El Señor Crisóstomo trabaja en una hortofrutícola de la comuna de Chillán, y presenta la siguiente información en el mes de Octubre de 2018:</p>
        <p class="ppp">Días Trabajados: 30</p>
        <p class="ppp">Bono de Producción: &#36;30.000</p>
        <p class="ppp">Sueldo Base: &#36;850.000</p>
        <p class="ppp">Bono de Locomoción: &#36;30.000</p>
        <p class="ppp">Gratificación: 25%</p>
        <p class="ppp">Horas Extras: 7</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="a">
            <p class="ppp">&#36;47.911.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="b">
            <p class="ppp">&#36;47.211. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="c">
            <p class="ppp">&#36;49.911. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="d">
            <p class="ppp">&#36;49.211.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="e">
            <p class="ppp">&#36;49.311.  
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°5
    </div>
    <div>
        <p class="ppp">En relación al periodo de vigencia de los contratos colectivos, es cierto afirmar que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="a">
            <p class="ppp">El periodo mínimo de vigencia es de 2 años y máximo 3 años. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="b">
            <p class="ppp">El periodo de vigencia será estipulado por las partes, de acuerdo a la conformidad de los resultados.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="c">
            <p class="ppp">El periodo mínimo de vigencia es de seis meses y no cuenta con un máximo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="d">
            <p class="ppp">No existe periodo de vigencia para los contratos colectivos. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="e">
            <p class="ppp">Ninguna de las anteriores. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°6
    </div>
    <div>
        <p class="ppp">Analice la siguiente situación:</p>
        <p class="ppp">“Casa Villablanca es una tienda de ropa y accesorios importados desde Europa. Don Camilo Subercaseaux, dueño de la empresa, cuenta con 55 trabajadores, los cuales han decidido formar un sindicato para establecer algunos acuerdos colectivos necesarios para el bienestar de los colaboradores, entre los cuales se destacan contar con baños diferenciados entre hombres y mujeres, aumentos de sueldos y pactar horas extraordinarias correctamente distribuidas conforme al código del trabajo vigente. Don Camilo, presenta gran interés en esta agrupación, y comienza a participar activamente de las decisiones tomadas dentro de las asambleas, entregando información financiera que se le ha solicitado de manera informal, puesto que los libros requeridos se encuentran en manos de un contador externo”.</p>
        <p class="ppp">Son prácticas antisindicales:</p>
        <p class="ppp">I. De parte del empleador, no otorgar servicios básicos para sus trabajadores.</p>
        <p class="ppp">II. De parte de los trabajadores, solicitar información confidencial financiera de la empresa.</p>
        <p class="ppp">III. De parte del empleador, participar en las asambleas y toma de decisiones del sindicato.</p>
        <p class="ppp">IV. De parte del empleador, no entregar la información financiera requerida por el sindicato para llevar crear un petitorio acorde a la situación actual de la empresa.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="c">
            <p class="ppp">Solo III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="d">
            <p class="ppp">Solo III – IV. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="e">
            <p class="ppp">I – II – III – IV. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°7
    </div>
    <div>
        <p class="ppp">Lea la siguiente situación:</p>
        <p class="ppp">“Cervecería Calixto S.A. se encuentra en proceso de negociación colectiva con el sindicato de trabajadores de la compañía. La empresa, cuenta con un instrumento vigente, el cual, los trabajadores tomaron como piso de la negociación, sin embargo, la dirección, entrega como respuesta al petitorio, un piso inferior al del contrato colectivo vigente, fundamentado en las bajas utilidades que han recibido por el crecimiento de cervecerías artesanales que han surgido en la actualidad”. </p>
        <p class="ppp">De acuerdo al enunciado, es correcto afirmar que:</p>
        <p class="ppp">I. La empresa cuenta con la facultad de fijar el piso de negociación dependiendo de la situación financiera en la que se encuentre.</p>
        <p class="ppp">II. Según la última reforma laboral, el piso de inicio de negociación de fijarse de acuerdo al último contrato colectivo vigente. En caso de no existir instrumento anterior, la respuesta del empleador constituirá el piso de negociación.</p>
        <p class="ppp">III. El piso de negociación siempre debe ser pactado por las partes, de acuerdo a la situación financiera del periodo de la empresa, y a otros factores relevantes.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta7" [(ngModel)]="pregunta7" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" [(ngModel)]="pregunta7" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" [(ngModel)]="pregunta7" value="c">
            <p class="ppp">Solo III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" [(ngModel)]="pregunta7" value="d">
            <p class="ppp">I – II – III. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" [(ngModel)]="pregunta7" value="e">
            <p class="ppp">Ninguna de las anteriores. 
            </p>
        </div>
    </div>
</div>
<h1>Segunda Parte: Impuesto al Valor Agregado.</h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°1
    </div>
    <div>
        <p class="ppp">¿Cuál es la diferencia entre evasión y elusión fiscal?</p>
        <p class="ppp">I. La elusión fiscal tiene como objetivo pagar la menor cantidad de impuestos dentro de los límites que establece la ley, incluso utilizando algunas lagunas legales en la legislación, mientras que la evasión fiscal consiste en evitar el pago de la mayor parte o de la totalidad de los impuestos a través de prácticas ilegales. </p>
        <p class="ppp">II. La evasión fiscal tiene como objetivo pagar la menor cantidad de impuestos dentro de los límites que establece la ley, incluso utilizando algunas lagunas legales en la legislación, mientras que la elusión fiscal consiste en evitar el pago de la mayor parte o de la totalidad de los impuestos a través de prácticas ilegales.</p>
        <p class="ppp">III. La elusión está dentro de los parámetros éticos mientras que la evasión no lo está.</p>
        <p class="ppp">IV. Ninguna de las dos prácticas son éticas.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="c">
            <p class="ppp">Solo I – IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="d">
            <p class="ppp">Solo I – III – IV. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="e">
            <p class="ppp">Solo II – III – IV. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°2
    </div>
    <div>
        <p class="ppp">En las siguientes situaciones, el IVA se devenga:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="a">
            <p class="ppp">En el caso de servicios periódicos, en la fecha en que se celebra el contrato. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="b">
            <p class="ppp">Cuando se realiza venta, se devenga siempre en el momento en que se emite la factura.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="c">
            <p class="ppp">En las importaciones, al momento de la realización del pago al proveedor extranjero. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="d">
            <p class="ppp">En el caso en que se retira mercadería, en la misma fecha en que se retira el bien. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="e">
            <p class="ppp">Solo b) y d).
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°3
    </div>
    <div>
        <p class="ppp">Con respecto a los retiros de mercadería, es correcto afirmar que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="a">
            <p class="ppp">Son gravadas con el impuesto IVA. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="b">
            <p class="ppp">Están exentos de IVA, cuando son retiros efectuados por los dueños de las empresas. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="c">
            <p class="ppp">Cuando son efectuados por un vendedor para el consumo de su familia, son hechos gravados. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="d">
            <p class="ppp">Solo a) y c).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="e">
            <p class="ppp">Todas las anteriores. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta 4. Verdaderos y Falsos
    </div>
    <div>
        <p class="ppp">Determine si son verdaderas o falsas las siguientes aseveraciones:</p>
    </div>
    <div>
        <p class="ppp">En las ventas de bienes corporales muebles y prestación de servicios, el impuesto al valor agregado se devengará al momento de emitirse la factura o boleta.</p>
    </div>
    <div class="items">
        <input type="radio" name="vyf1" [(ngModel)]="vyf1" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf1" [(ngModel)]="vyf1" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">Para hacer uso del crédito fiscal, el contribuyente solo debe acreditar que el impuesto le ha sido recargado en las respectivas facturas. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf2" [(ngModel)]="vyf2" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf2" [(ngModel)]="vyf2" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">Los ingresos percibidos por entradas de los espectáculos artísticos auspiciados por el Ministerio de Educación Pública, quedarán gravados por el impuesto al valor agregado. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf3" [(ngModel)]="vyf3" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf3" [(ngModel)]="vyf3" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">La transferencia que realicen los empleadores a sus trabajadores a modo de regalías, queda exenta de IVA. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf4" [(ngModel)]="vyf4" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf4" [(ngModel)]="vyf4" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">En la venta de bienes corporales muebles, en el caso de que la entrega de las especies sea anterior a la fecha de emisión del documento, o por la naturaleza del acto, el documento no se emita en el mismo momento de la entrega, el impuesto se devengará en el momento de emisión del documento. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf5" [(ngModel)]="vyf5" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf5" [(ngModel)]="vyf5" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">Las promesas de venta que se versen sobre bienes inmuebles suscritas posteriormente al 01.01.2017, no constituyen un hecho gravado, a contar de la entrada en vigencia de la nueva reforma tributaria. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf6" [(ngModel)]="vyf6" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf6" [(ngModel)]="vyf6" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">El impuesto a pagar se determinará, estableciendo la diferencia entre el crédito fiscal con el débito fiscal.</p>
    </div>
    <div class="items">
        <input type="radio" name="vyf7" [(ngModel)]="vyf7" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf7" [(ngModel)]="vyf7" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">La venta de un vehículo usado, que forma parte del activo inmovilizado de la empresa, y que, de acuerdo a la normativa, dio derecho a crédito fiscal a su propietario, quedará siempre exento de IVA. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf8" [(ngModel)]="vyf8" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf8" [(ngModel)]="vyf8" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">El importador, habitual o no, es considerado un sujeto del impuesto. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf9" [(ngModel)]="vyf9" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf9" [(ngModel)]="vyf9" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">Las empresas radioemisoras están liberadas del pago de IVA por los ingresos concebidos dentro del giro. </p>
    </div>
    <div class="items">
        <input type="radio" name="vyf10" [(ngModel)]="vyf10" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf10" [(ngModel)]="vyf10" value="f">
        <p class="ppp">Falso.</p>
    </div>
    <div>
        <p class="ppp">El IVA es un impuesto indirecto de consumo.</p>
    </div>
    <div class="items">
        <input type="radio" name="vyf11" [(ngModel)]="vyf11" value="v">
        <p class="ppp">Verdadero.</p>
        <p class="ppp"></p><p class="ppp"></p>
        <input type="radio" name="vyf11" [(ngModel)]="vyf11" value="f">
        <p class="ppp">Falso.</p>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°5
    </div>
    <div>
        <p class="ppp">Una empresa de giro “panadería”, vende una amasadora que adquirió hace dos años. Esta operación:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="a">
            <p class="ppp">Esta afecta a IVA solo si el comprador tiene calidad de vendedor de maquinarias similares.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="b">
            <p class="ppp">Bajo toda circunstancia está afecto a IVA.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="c">
            <p class="ppp">Es un hecho gravado especial. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="d">
            <p class="ppp">Ex un hecho exento de IVA.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="e">
            <p class="ppp">Falta información. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°6
    </div>
    <div>
        <p class="ppp">Una empresa de deportes, dona 500 pelotas de futbol a una fundación infantil. El principal fin de esta donación es la de hacer publicidad. Con respecto al impuesto al valor agregado, esta operación es:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="a">
            <p class="ppp">Un hecho gravado de venta.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="b">
            <p class="ppp">Un hecho gravado especial.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="c">
            <p class="ppp">Una operación no gravada.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="d">
            <p class="ppp">Una operación gravada pero exenta de IVA.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="e">
            <p class="ppp">Ninguna de las anteriores.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°7
    </div>
    <div>
        <p class="ppp">¿Cuáles son los requisitos copulativos de un hecho gravado básico de venta?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="a">
            <p class="ppp">Territorialidad: son efectuadas dentro del territorio nacional chileno. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="b">
            <p class="ppp">Que exista un vendedor: cualquier persona natural o jurídica que se dedique de forma habitual a la venta de bienes corporales muebles, sean propios o adquiridos. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="c">
            <p class="ppp">Que sea a título Oneroso: obliga a las partes tanto a entregar un bien, como a pagar por él. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="d">
            <p class="ppp">Solo b) y c)</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="e">
            <p class="ppp">Todas las anteriores. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°8
    </div>
    <div>
        <p class="ppp">La base imponible en las exportaciones, estará conformada por: </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="a">
            <p class="ppp">El valor aduanero. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="b">
            <p class="ppp">El valor aduanero más los gravámenes aduaneros.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="c">
            <p class="ppp">El valor aduanero o en su defecto los valores CIF. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="d">
            <p class="ppp">El valor aduanero o en su defecto los valores CIF más los gravámenes aduaneros. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="e">
            <p class="ppp">Ninguna de las anteriores. 
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°9
    </div>
    <div>
        <p class="ppp">De acuerdo a los impuestos adicionales, seleccione la alternativa correcta:</p>
        <p class="ppp">Joyería Albus, se dedica a la compra venta de oro, platino, joyas y piedras preciosas. En el mes de enero realiza la siguiente compra (Valores Netos):</p>
        <p class="ppp">- Anillos de Oro: &#36;730.000</p>
        <p class="ppp">- Piedras Preciosas Naturales para confeccionar conjuntos exclusivos: &#36;890.000</p>
        <p class="ppp">- Argollas de Platino: &#36;860.000”.</p>
        <p class="ppp">Información Adicional:</p>
        <p class="ppp">Las especies que se señalan en el artículo N°37 (detallado a continuación), del Decreto de Ley 825, pagarán un impuesto sobre el valor determinado, con una tasa del 15%.</p>
        <p class="ppp">a) Artículos de Oro, Platino y Marfil. </p>
        <p class="ppp">b) Joyas, Piedras Preciosas Naturales o Sintéticas. </p>
        <p class="ppp">c) Pieles Finas calificadas como tales por el SII, manufacturadas o no. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="a">
            <p class="ppp">El Impuesto IVA y Adicional respectivamente de los anillos de oro son &#36;138.700 y &#36;109.500.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="b">
            <p class="ppp">El impuesto IVA y adicional respectivamente de las piedras preciosas naturales son &#36;133.500 y &#36;169.100.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="c">
            <p class="ppp">El impuesto IVA y adicional respectivamente de las argollas de platino son &#36;163.000 y &#36;133.500.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="d">
            <p class="ppp">Solo a) y c).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="e">
            <p class="ppp">Solo a) y b)
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°10
    </div>
    <div>
        <p class="ppp">Estarán afectos al impuesto adicional de las bebidas alcohólicas, analcohólicas y productos similares: </p>
        <p class="ppp">I. Los importadores por las importaciones habituales o no, y por sus ventas. </p>
        <p class="ppp">II. Productores, elaboradores y envasadores. </p>
        <p class="ppp">III. Distribuidores. </p>
        <p class="ppp">IV. Cualquier vendedor por operaciones que realice a otro vendedor.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="a">
            <p class="ppp">Solo IV. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="b">
            <p class="ppp">Solo I y II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="c">
            <p class="ppp">Solo III y IV. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="d">
            <p class="ppp">Solo I – II – IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="e">
            <p class="ppp">Todas las anteriores.
            </p>
        </div>
    </div>
</div>