<h1>Primera Parte: Administración General y Estratégica</h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°1
    </div>
    <div>
        <p class="ppp">Los componentes que intervienen en el análisis de situación de una empresa son:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta1" value="a">
            <p class="ppp">Cliente – Empresa – Proveedores - Trabajadores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" value="b">
            <p class="ppp">Cliente – Empresa – Contexto – Colaboradores – Competidores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" value="c">
            <p class="ppp">Cliente – Empresa – Proveedores – Colaboradores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" value="d">
            <p class="ppp">Empresa – Colaboradores – Competidores – Localización.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" value="e">
            <p class="ppp">Empresa – Colaboradores – Proveedores – Contexto.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°2
    </div>
    <div>
        <p class="ppp">La administración es el proceso para lograr los objetivos de una organización a través de:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta2" value="a">
            <p class="ppp">Planificar – Organizar – Dirigir – Controlar. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" value="b">
            <p class="ppp">
                Diseñar – Planificar – Implementar – Controlar.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" value="c">
            <p class="ppp">Planificar – Organizar – Implementar – Controlar.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" value="d">
            <p class="ppp">Diseñar – Organizar – Dirigir – Implementar.
            </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" value="e">
            <p class="ppp">Planificar – Organizar – Dirigir – Implementar.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°3
    </div>
    <div>
        <p class="ppp">Lea el siguiente enunciado y seleccione la alternativa que considere correcta:</p>
        <p class="ppp">“Según Elton Mayo y el Movimiento de Relaciones Humanas, el único móvil del hombre no es el
            dinero, sino, pasado un cierto nivel de subsistencia son más importantes las variables sociales y
            psicológicas (posición social, status, orgullo de pertenecer a un cierto grupo o institución)”. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta3" value="a">
            <p class="ppp">
                El (la) trabajador (a) en la actualidad busca en primera instancia, el sustento económico, más que el
                bienestar psicológico o status social. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" value="b">
            <p class="ppp">Las variables sociales y psicológicas son igualmente importantes que la compensación
                económica recibida por las labores realizas en un periodo determinado.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" value="c">
            <p class="ppp">
                El (la) trabajador (a) se ve influenciado en gran medida por los aspectos emocionales y psicosociales
                para poder desarrollar sus tareas de la mejor manera posible. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" value="d">
            <p class="ppp">En la sociedad actual, si bien los factores psicológicos, emocionales y sociales han cobrado
                gran importancia en el desarrollo de una labor, la variable económica, sigue ocupando el primer lugar
                como incentivo para el trabajador (a). </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" value="e">
            <p class="ppp">Solo a) y c).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°4
    </div>
    <div>
        <p class="ppp">LCon respecto al análisis de situación de una empresa mediante la matriz FODA, ¿cuál de los
            siguientes esquemas representa de mejor manera el principal objetivo de este estudio?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta4" value="a">
            <table>
                <tr>
                    <td>X</td>
                    <td>Oportunidades.</td>
                    <td>Amenazas.</td>
                </tr>
                <tr>
                    <td>Fortalezas</td>
                    <td>Usar Fortalezas para Aprovechar Oportunidades.</td>
                    <td>Usar Fortalezas para evitar Amenazas.</td>
                </tr>
                <tr>
                    <td>Debilidades</td>
                    <td>Usar Oportunidades para vencer Debilidades.</td>
                    <td>Reducir Debilidades y evitar Amenazas.</td>
                </tr>
            </table>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" value="b">
            <table>
                <tr>
                    <td>X</td>
                    <td>Oportunidades.</td>
                    <td>Amenazas.</td>
                </tr>
                <tr>
                    <td>Fortalezas</td>
                    <td>Usar oportunidades para fortalecer a la empresa</td>
                    <td>Usar Amenazas para aprovechar las fortalezas.</td>
                </tr>
                <tr>
                    <td>Debilidades</td>
                    <td>Disminuir debilidades utilizando las oportunidades.</td>
                    <td>Reducir amenazas utilizando las debilidades.</td>
                </tr>
            </table>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" value="c">
            <table>
                <tr>
                    <td>X</td>
                    <td>Oportunidades.</td>
                    <td>Amenazas.</td>
                </tr>
                <tr>
                    <td>Fortalezas</td>
                    <td>Utilizar las fortalezas para aumentar oportunidades.</td>
                    <td>Utilizar fortalezas para disminuir debilidades.</td>
                </tr>
                <tr>
                    <td>Amenazas</td>
                    <td>Eliminar las amenazas utilizando las oportunidades.</td>
                    <td>Eliminar amenazas y debilidades.</td>
                </tr>
            </table>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" value="d">
            <table>
                <tr>
                    <td>X</td>
                    <td>Oportunidades.</td>
                    <td>Amenazas.</td>
                </tr>
                <tr>
                    <td>Debilidades</td>
                    <td>Utilizar las debilidades para fortalecer la empresa.</td>
                    <td>Identificar las debilidades para conseguir más oportunidades.</td>
                </tr>
                <tr>
                    <td>Amenazas</td>
                    <td>Disminuir amenazas utilizando las fortalezas.</td>
                    <td>Usar oportunidades para eliminar las amenazas.</td>
                </tr>
            </table>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" value="e">
            <p class="ppp">A) y C). </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°5
    </div>
    <div>
        <p class="ppp">Con respecto a la Administración Financiera, es correcto que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta5" value="a">
            <p class="ppp">
                Es la encargada de determinar cuánto producir para dar abasto con la demanda del mercado.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" value="b">
            <p class="ppp">
                Es la encargada de obtener y administrar los recursos financieros necesarios para la operación de la
                empresa.
            </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" value="c">
            <p class="ppp">
                Busca identificar las fuentes de financiamiento, procurando una óptima asignación de recursos.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" value="d">
            <p class="ppp">
                Solo b) y c).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" value="e">
            <p class="ppp">
                a), b) y c).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°6
    </div>
    <div>
        <p class="ppp">¿Cuáles son las etapas en orden cronológico de planificación de producción?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta6" value="a">
            <p class="ppp">
                Recopilación de Información – Planificación de Producción – Proyecto de Producción – Control de
                Producción.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" value="b">
            <p class="ppp">
                Proyecto de Producción – Recopilación de Información – Planificación de Producción – Control de
                Producción.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" value="c">
            <p class="ppp">
                Diseño de Proyecto de Producción – Recopilación de Información – Control de Producción. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" value="d">
            <p class="ppp">Proyecto de Producción – Recopilación de Información – Diseño de Proyecto de Producción.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" value="e">
            <p class="ppp">Ninguna de las Anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°7
    </div>
    <div>
        <p class="ppp">¿A qué estrategia de organización corresponde la siguiente pregunta?</p>
        <p class="ppp">“¿En qué sectores empresariales va a competir la empresa?”.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta7" value="a">
            <p class="ppp">
                Estrategia Corporativa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" value="b">
            <p class="ppp">
                Estrategia de Negocios. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" value="c">
            <p class="ppp">
                Estrategia Funcional.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" value="d">
            <p class="ppp">Estrategia Empresarial.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta7" value="e">
            <p class="ppp">
                La pregunta no da respuesta a ninguna estrategia.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°8
    </div>
    <div>
        <p class="ppp">Lea el siguiente enunciado y responda:</p>
        <p class="ppp">“Había un leñador que se agotaba malgastando su tiempo y sus energías en cortar madera con un
            hacha embotada (sin filo), porque no tenía tiempo, según él, para detenerse a afilar la hoja de la
            herramienta”. </p>
        <p class="ppp">Si se asocia este hecho a la actividad que realiza una empresa:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta8" value="a">
            <p class="ppp">
                Se puede inferir que la empresa no ha definido sus objetivos estratégicos, puesto que, le importa solo
                el fin y no cómo llegar a él. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" value="b">
            <p class="ppp">
                La empresa no cuenta con una misión, visión y objetivos claros, ya que no se observa el rumbo de la
                actividad.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" value="c">
            <p class="ppp">La empresa se encuentra realizando la actividad de manera óptima para conseguir el fin, que
                es obtener leña trozada. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" value="d">
            <p class="ppp">Todas las anteriores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" value="e">
            <p class="ppp">Solo a) y b).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°9
    </div>
    <div>
        <p class="ppp">De acuerdo a los niveles de estrategia de una organización, determine:</p>
        <p class="ppp"><img src="assets/img/pregunta9.png"></p>
        <p class="ppp">I. Los niveles se complementan entre sí.</p>
        <p class="ppp">II. Ninguno tiene razón de ser sin los demás.</p>
        <p class="ppp">III. Los niveles son independientes entre sí.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta9" value="a">
            <p class="ppp">
                Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" value="b">
            <p class="ppp">
                Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" value="c">
            <p class="ppp">
                Solo III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" value="d">
            <p class="ppp">
                Solo I y II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" value="e">
            <p class="ppp">
                Solo I y III.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°10
    </div>
    <div>
        <p class="ppp">Analice la siguiente situación:</p>
        <p class="ppp">“Panificadora Buen Pan, se dedica a la fabricación de pan tradicional, entre lo que se incluye,
            hallulla, marraqueta y pan de completo. Actualmente, se encuentra en alza la venta de productos integrales,
            altos en fibra por lo cual la empresa, decide lanzar una nueva línea de productos, los cuales incluyen los
            mismos tipos de pan, pero con la diferencia de que estos serán fabricados con ingredientes integrales y
            orgánicos”. </p>
        <p class="ppp">De acuerdo al texto, la empresa decide implementar una estrategia de expansión de tipo:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta10" value="a">
            <p class="ppp">Penetración de Mercado.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" value="b">
            <p class="ppp">Desarrollo de Mercado.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" value="c">
            <p class="ppp">
                Desarrollo de Productos.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" value="d">
            <p class="ppp">
                Diversificación.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" value="e">
            <p class="ppp">Ninguna de las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°11
    </div>
    <div>
        <p class="ppp">El marco de gestión del Marketing lo componen:</p>
        <p class="ppp">I. 5C’s: Cliente – Compañía – Contexto – Colaboradores – Competidores.</p>
        <p class="ppp">II. STP: Segmentación – Targeting – Posicionamiento.</p>
        <p class="ppp">III. 4P’s: Producto – Precio – Plaza – Promoción.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta11" value="a">
            <p class="ppp">Solo I.
            </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" value="c">
            <p class="ppp">Solo III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" value="d">
            <p class="ppp">
                Solo I y III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" value="e">
            <p class="ppp">I – II – III.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°12
    </div>
    <div>
        <p class="ppp">Con respecto al Ausentismo Laboral, es cierto afirmar que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta12" value="a">
            <p class="ppp">Es el incumplimiento de la obligación de un trabajador de asistir al lugar en donde
                desarrolla sus tareas habituales.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" value="b">
            <p class="ppp">
                El ausentismo laboral puede ser previsible o imprevisible. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" value="c">
            <p class="ppp">Representa una violación al contrato de trabajo. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" value="d">
            <p class="ppp">Solo A) y C).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" value="e">
            <p class="ppp">A) – B) – C).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°13
    </div>
    <div>
        <p class="ppp">De acuerdo a la matriz BCG (Modelo Boston Consulting Group), la empresa Apple se clasifica como
            un negocio:</p>
        <p class="ppp"><img src="assets/img/pregunta13.png"></p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta13" value="a">
            <p class="ppp">
                Negocio Estrella.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" value="b">
            <p class="ppp">Negocio Vaca.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" value="c">
            <p class="ppp">
                Negocio Signo de Interrogación.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" value="d">
            <p class="ppp">
                Negocio Perro.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" value="e">
            <p class="ppp">Ninguna de las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°14
    </div>
    <div>
        <p class="ppp">Con respecto a los principios fundamentales de la evaluación de desempeño, es correcto afirmar
            que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta14" value="a">
            <p class="ppp">
                La Evaluación de desempeño debe estar unida al desarrollo de las personas de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" value="b">
            <p class="ppp">
                Los estándares de evaluación de desempeño deben estar fundamentados en información relevante del puesto
                de trabajo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" value="c">
            <p class="ppp">Requiere compromiso y participación activa de los trabajadores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" value="d">
            <p class="ppp">
                El papel del supervisor – evaluador debe considerarse la base para aconsejar acerca de mejoras.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" value="e">
            <p class="ppp">
                Todas las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°15
    </div>
    <div>
        <p class="ppp">Para evaluar el desempeño es necesario establecer variados indicadores que ayuden a analizar y
            medir factores como el rendimiento, productividad o cualquier habilidad importante para la empresa. </p>
        <p class="ppp">De acuerdo con lo anterior, determine si es Verdadero o Falso:</p>
    </div>
    <div>
        <div>
            <p class="ppp">1 - Un indicador estratégico mide el grado de cumplimiento de los objetivos de las políticas
                de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="vyf1" [(ngModel)]="vyf1" value="v">
            <p class="ppp">Verdadero.</p>
            <p class="ppp"></p>
            <p class="ppp"></p>
            <input type="radio" name="vyf1" [(ngModel)]="vyf1" value="f">
            <p class="ppp">Falso.</p>
        </div>
        <div>
        </div>
        <div>
            <p class="ppp">2 - Un indicador de gestión mide el logro de los procesos y actividades y los avances
                conseguidos. </p>
        </div>
        <div class="items">
            <input type="radio" name="vyf2" [(ngModel)]="vyf2" value="v">
            <p class="ppp">Verdadero.</p>
            <p class="ppp"></p>
            <p class="ppp"></p>
            <input type="radio" name="vyf2" [(ngModel)]="vyf2" value="f">
            <p class="ppp">Falso.</p>
        </div>
        <div>
        </div>
        <div>
            <p class="ppp">3 - Un indicador estratégico contribuye a evaluar las estrategias, pero no a corregirlas.</p>
        </div>
        <div class="items">
            <input type="radio" name="vyf3" [(ngModel)]="vyf3" value="v">
            <p class="ppp">Verdadero.</p>
            <p class="ppp"></p>
            <p class="ppp"></p>
            <input type="radio" name="vyf3" [(ngModel)]="vyf3" value="f">
            <p class="ppp">Falso.</p>
        </div>
        <div>
        </div>
        <div>
            <p class="ppp">4 - Un indicador de gestión no puede incluir datos sobre actividades realizadas dentro de la
                empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="vyf4" [(ngModel)]="vyf4" value="v">
            <p class="ppp">Verdadero.</p>
            <p class="ppp"></p>
            <p class="ppp"></p>
            <input type="radio" name="vyf4" [(ngModel)]="vyf4" value="f">
            <p class="ppp">Falso.</p>
        </div>
        <div>
        </div>
        <div>
            <p class="ppp">5 - Un indicador estratégico contribuye a la orientación de los recursos de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="vyf5" [(ngModel)]="vyf5" value="v">
            <p class="ppp">Verdadero.</p>
            <p class="ppp"></p>
            <p class="ppp"></p>
            <input type="radio" name="vyf5" [(ngModel)]="vyf5" value="f">
            <p class="ppp">Falso.</p>
        </div>
        <div>
        </div>
    </div>
</div>
<h1>Segunda Parte: Administración de Riesgos y Gobernanza. </h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°1
    </div>
    <div>
        <p class="ppp">Para que un gobierno corporativo funcione en óptimas condiciones, es necesario contar con los
            siguientes elementos: </p>
        <p class="ppp">I. Buenas prácticas del consejo de administración y protección de los derechos de los
            accionistas.</p>
        <p class="ppp">II. Procesos de control apropiados.</p>
        <p class="ppp">III. Sistema fuerte de transparencia y revelación de información.</p>
        <p class="ppp">IV. Estructura de la empresa bien definida (partiendo por misión, visión, valores)</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta15" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" value="c">
            <p class="ppp">Solo I y III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" value="d">
            <p class="ppp">Solo I – II – III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" value="e">
            <p class="ppp">I – II – III – IV.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°12
    </div>
    <div>
        <p class="ppp">¿Cuál es la principal importancia de contar con un buen Gobierno Corporativo?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta16" value="a">
            <p class="ppp">Confianza de los Inversionistas: Fortaleciendo la relación “empresa – grupo de interés”,
                atrayendo el interés de los inversores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" value="b">
            <p class="ppp">Supervisión y Rendición de Cuentas: Un Gobierno Corporativo eficaz, supervisa la gestión
                responsable de los activos de la empresa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" value="c">
            <p class="ppp">Promoción de la Salud Económica y de la Estabilidad Financiera: Promueve la utilización
                eficiente de los recursos tanto dentro de la empresa, como de la economía externa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" value="d">
            <p class="ppp">Satisfacción de las Expectativas de grupos de interés, tales como proveedores y clientes:
                Mediante el cumplimiento de leyes, regulaciones y expectativas de las sociedades en las que opera o
                ejerce influencia.
            </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" value="e">
            <p class="ppp">Todas las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°3
    </div>
    <div>
        <p class="ppp">¿Cuáles son los pilares fundamentales del Gobierno Corporativo?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta17" value="a">
            <p class="ppp">Rendición de cuentas – Equidad – Transparencia – Responsabilidad corporativa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" value="b">
            <p class="ppp">Derecho y trato equitativo de accionistas – Funciones del directorio y gerencia –
                Comunicación y transparencia informativa.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" value="c">
            <p class="ppp">Adecuada administración de riesgo – Comportamiento ético con el entorno interno y externo –
                Equidad.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" value="d">
            <p class="ppp">Transparencia en las revelaciones de la empresa – Responsabilidad Equitativa – Administración
                del Riesgo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" value="e">
            <p class="ppp">Responsabilidad Corporativa – Rendición transparente – Ética.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°4
    </div>
    <div>
        <p class="ppp">De acuerdo a las etapas en el desarrollo de un Gobierno Corporativo, es cierto afirmar que:</p>
        <p class="ppp">I. Está compuesto por dos grandes etapas enfocadas en “No destruir valor” y en “Crear valor”.</p>
        <p class="ppp">II. Consta de cinco sub etapas, las cuales son: “cumplir con la ley, cumplir con los estándares
            éticos, mitigar riesgos, ganar confianza de los mercados, mejorar la competitividad”. </p>
        <p class="ppp">III. El proceso está compuesto por tres sub etapas las cuales son: cumplir con la normativa
            vigente, minimizar los riesgos para la empresa y crear valor.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta18" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" value="c">
            <p class="ppp">Solo III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" value="d">
            <p class="ppp">Solo I y II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" value="e">
            <p class="ppp">I – II – III.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°5
    </div>
    <div>
        <p class="ppp">Lea el siguiente enunciado y analice:</p>
        <p class="ppp">“Constructores Holding, es una empresa transnacional dedicada a la compra venta de insumos
            ferreteros y para la construcción. Cuenta con 602 accionistas y se rige por la normativa de la Comisión del
            Mercado Financiero. Su directorio se renueva cada dos años en asamblea general compuesta por accionistas y
            que tienen un 10% del capital”. </p>
        <p class="ppp">¿A qué tipo de Gobierno Legal corresponde Constructores Holding?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta19" value="a">
            <p class="ppp">Sociedad Anónima.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" value="b">
            <p class="ppp">Sociedad Anónima Abierta.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" value="c">
            <p class="ppp">Sociedad Anónima Cerrada.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" value="d">
            <p class="ppp">Sociedad por Acciones. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" value="e">
            <p class="ppp">Sociedad de Responsabilidad Limitada</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°6
    </div>
    <div>
        <p class="ppp">Lea el siguiente enunciado y analice:</p>
        <p class="ppp">“Constructores Holding, es una empresa transnacional dedicada a la compra venta de insumos
            ferreteros y para la construcción. Cuenta con 602 accionistas y se rige por la normativa de la Comisión del
            Mercado Financiero. Su directorio se renueva cada dos años en asamblea general compuesta por accionistas y
            que tienen un 10% del capital”. </p>
        <p class="ppp">¿A qué tipo de Gobierno Legal corresponde Constructores Holding?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta20" value="a">
            <p class="ppp">Sociedad Anónima.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta20" value="b">
            <p class="ppp">Sociedad Anónima Abierta.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta20" value="c">
            <p class="ppp">Sociedad Anónima Cerrada.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta20" value="d">
            <p class="ppp">Sociedad por Acciones. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta20" value="e">
            <p class="ppp">Sociedad de Responsabilidad Limitada</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°7
    </div>
    <div>
        <p class="ppp">“Lugar donde los inversionistas buscan instrumentos en los cuales invertir y las empresas o
            emisores requieren para financiar sus proyectos. En él, se negocian acciones, bonos y fondos mutuos a través
            de intermediarios”. </p>
        <p class="ppp">Esta definición corresponde a: </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta21" value="a">
            <p class="ppp">Bolsa de Comercio. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta21" value="b">
            <p class="ppp">Mercado de Valores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta21" value="c">
            <p class="ppp">Bolsa de Acciones. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta21" value="d">
            <p class="ppp">Superintendencia de Valores y Seguros. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta21" value="e">
            <p class="ppp">Ninguna de las Anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°8
    </div>
    <div>
        <p class="ppp">Es de relevancia para la Comisión para el Mercado Financiero, que cada empresa identifique:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta22" value="a">
            <p class="ppp">La diversidad dentro del directorio, identificando el número de personas por género, por
                nacionalidad, por rango de edad, y por antigüedad. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta22" value="b">
            <p class="ppp">La proporción entre el sexo de las trabajadoras y ejecutivas versus trabajadores y
                ejecutivos. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta22" value="c">
            <p class="ppp">La proporción que representa el sueldo bruto base promedio, por tipo de cargo,
                responsabilidad y función desempeñada, de las ejecutivas y trabajadoras con respecto de los ejecutivos y
                trabajadores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta22" value="d">
            <p class="ppp">La diversidad dentro de la organización, identificando el número de personas por género, por
                nacionalidad, por rango de edad, y por antigüedad. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta22" value="e">
            <p class="ppp">Solo a), c) y d).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°9
    </div>
    <div>
        <p class="ppp">Lea la siguiente definición y responda: </p>
        <p class="ppp">“Se entiende como desempeño laboral al rendimiento laboral y actuación que manifiesta el
            trabajador al efectuar las funciones y tareas principales que exige su cargo en el contexto laboral
            específico, lo cual permite demostrar su idoneidad”. </p>
        <p class="ppp">De acuerdo a lo anterior, ¿cómo se relaciona el buen Gobierno Corporativo con el desempeño
            laboral?.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta23" value="a">
            <p class="ppp">El buen gobierno corporativo genera mayor riqueza, empleos y más actividad económica. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta23" value="b">
            <p class="ppp">Existe una correlación entre el nivel de facturación de las empresas y el grado de madurez
                del gobierno corporativo. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta23" value="c">
            <p class="ppp">Se relaciona mediante un elemento central denominado “Consejo de Administración”, el cual
                supervisa la administración de la compañía. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta23" value="d">
            <p class="ppp">Solo a) y b).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta23" value="e">
            <p class="ppp">Todas las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°10
    </div>
    <div>
        <p class="ppp">¿Cuáles son los principales objetivos de los Sistemas de Información dentro de la empresa?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta24" value="a">
            <p class="ppp">Apoyar los objetivos y estrategias de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta24" value="b">
            <p class="ppp">Proporcionar información para mejorar el control interno de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta24" value="c">
            <p class="ppp">Interactuar con los diferentes usuarios de la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta24" value="d">
            <p class="ppp">Adaptar las diferentes necesidades de la información al proceso de evolución en el que se
                vaya desenvolviendo la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta24" value="e">
            <p class="ppp">Todas las anteriores.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°11
    </div>
    <div>
        <p class="ppp">Los atributos de los Sistemas de Información de la empresa son: </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta25" value="a">
            <p class="ppp">Exacta – Oportuna – Frecuente – Temporal.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta25" value="b">
            <p class="ppp">Exacta – Oportuna – Pertinente – Íntegra – Frecuente – Temporal. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta25" value="c">
            <p class="ppp">Íntegra – Existente – Exacta – Propia – Valuada. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta25" value="d">
            <p class="ppp">Íntegra – Existente – Oportuna – Frecuente – Propia.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta25" value="e">
            <p class="ppp">Pertinente – Exacta – Propia – Frecuente – Temporal – Oportuna.</p>
        </div>
    </div>
</div>