<div class="pregunta">
    <div class="tituloPregunta">
        Seleccione su perfil
    </div>
    <div>
        <div class="items">
            <input type="radio" name="finanzasPregunta14" [(ngModel)]="finanzasPregunta14" value="a">
            <p class="ppp">
                Estudiante. </p>
        </div>
        <div class="items">
            <input type="radio" name="finanzasPregunta14" [(ngModel)]="finanzasPregunta14" value="b">
            <p class="ppp">
                Profesional 1 (primeros dos años de ejercicio). </p>
        </div>
        <div class="items">
            <input type="radio" name="finanzasPregunta14" [(ngModel)]="finanzasPregunta14" value="c">
            <p class="ppp">
                Profesional 2 (más de dos años de ejercicio).</p>
        </div>
    </div>
</div>