<h1>Primera Parte: Auditoría.</h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°1
    </div>
    <div>
        <p class="ppp">¿Cuáles son las principales cualidades y atributos del auditor?</p>
        <p class="ppp">I. Suspicacia: duda científica que se deriva de la evidencia contable en examen, la cual, una vez
            eliminada genera certeza, aceptación o cuestionamiento. </p>
        <p class="ppp">II. Agilidad Mental: razonar rápidamente respecto de la extensión y profundidad del hecho
            económico.</p>
        <p class="ppp">III. Perseverancia: Firmeza en la búsqueda de la verdad.</p>
        <p class="ppp">IV. Tolerancia: el auditor no debe juzgar a las personas ni a sus errores. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="c">
            <p class="ppp">Solo I y II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="d">
            <p class="ppp">Solo III y IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta1" [(ngModel)]="pregunta1" value="e">
            <p class="ppp">I – II – III – IV.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°2
    </div>
    <div>
        <p class="ppp">Para establecer la estrategia global de la auditoría, como una de las principales actividades de
            la planificación, el auditor debe:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="a">
            <p class="ppp">Identificar las características del encargo. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="b">
            <p class="ppp">Determinar los objetivos del encargo en relación con los informes a emitir, con el fin de
                planificar el momento de realización de una auditoría.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="c">
            <p class="ppp">Considerar los factores que, a juicio profesional del auditor, sean significativos para la
                dirección de las tareas del equipo a cargo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="d">
            <p class="ppp">Determinar la naturaleza, el momento del empleo, y la extensión de los recursos necesarios
                para llevar a cabo la realización del encargo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta2" [(ngModel)]="pregunta2" value="e">
            <p class="ppp">Todas las anteriores.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°3
    </div>
    <div>
        <p class="ppp">El plan de auditoría, debe incluir la descripción de las siguientes actividades:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="a">
            <p class="ppp">La naturaleza, el momento de realización y la extensión de los procedimientos planificados
                para la valoración del riesgo.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="b">
            <p class="ppp">La naturaleza, el momento de realización y la extensión de los procedimientos de auditoría
                posteriormente planificados relativos a las afirmaciones. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="c">
            <p class="ppp">Otros procedimientos de auditoría planificados cuya realización se requiere para que el
                encargo se desarrolle conforme a las NIA´s.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="d">
            <p class="ppp">Todas las anteriores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta3" [(ngModel)]="pregunta3" value="e">
            <p class="ppp">Ninguna de las anteriores.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°4
    </div>
    <div>
        <p class="ppp">¿Qué documentación debe incluir la planificación de auditoría?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="a">
            <p class="ppp">Estrategia global de auditoría.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="b">
            <p class="ppp">Plan de Auditoría. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="c">
            <p class="ppp">Especificación de cambios significativos que se realicen en la planificación de auditoría,
                con sus respectivos motivos.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="d">
            <p class="ppp">Todas las anteriores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta4" [(ngModel)]="pregunta4" value="e">
            <p class="ppp">Solo A) y C).
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°5
    </div>
    <div>
        <p class="ppp">En la auditoría de Estados Financieros, son objetivos globales del auditor:</p>
        <p class="ppp">I. La obtención de seguridad razonable de que los estados financieros en su conjunto se
            encuentran libres de incorrección material, debida a fraude o error. </p>
        <p class="ppp">II. Emisión de un informe sobre los estados financieros y el cumplimiento de los requerimientos
            de comunicación contenidos en la NIA’s.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="c">
            <p class="ppp">A) y B) de manera incluyente.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="d">
            <p class="ppp">A) y B) de manera excluyente. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta5" [(ngModel)]="pregunta5" value="e">
            <p class="ppp">Ninguna de las anteriores.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°6
    </div>
    <div>
        <p class="ppp">La correcta definición de “Evidencia de Auditoría” según la NIA 200, corresponde a:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="a">
            <p class="ppp">Documentación contenida en los archivos de la empresa para realizar la auditoría</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="b">
            <p class="ppp">Información contenida en el sistema contable de la empresa para generar la opinión final.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="c">
            <p class="ppp">Información utilizada por el auditor para alcanzar las conclusiones en las que se basa su
                opinión. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="d">
            <p class="ppp">Información recopilada por el auditor y la empresa para realizar el proceso de auditoría.
            </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta6" [(ngModel)]="pregunta6" value="e">
            <p class="ppp">Documentación que la empresa entrega al auditor para planificar la auditoría.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta 7.
    </div>
    <div>
        <p class="ppp">Analice las siguientes situaciones y determine el tipo de riesgo de auditoria que se presenta.
        </p>
    </div>
    <div>
        <p class="ppp">Existe una doble facturación que no fue corregida, que trae como principal consecuencia la
            presentación errónea del nivel de ingresos en el estado de resultados. </p>
    </div>
    <div class="items">
        <input type="radio" name="riesgo1" [(ngModel)]="riesgo1" value="RI">
        <p class="ppp">Riesgo Inherente.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo1" [(ngModel)]="riesgo1" value="RC">
        <p class="ppp">Riesgo de Control.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo1" [(ngModel)]="riesgo1" value="RD">
        <p class="ppp">Riesgo de Detección.</p>
    </div>
    <div>
        <p class="ppp">Durante un proceso de auditoría no se detectan fraudes, sin embargo, esto si están siendo
            efectuados. </p>
    </div>
    <div class="items">
        <input type="radio" name="riesgo2" [(ngModel)]="riesgo2" value="RI">
        <p class="ppp">Riesgo Inherente.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo2" [(ngModel)]="riesgo2" value="RC">
        <p class="ppp">Riesgo de Control.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo2" [(ngModel)]="riesgo2" value="RD">
        <p class="ppp">Riesgo de Detección.</p>
    </div>
    <div>
        <p class="ppp">Unos alumnos intentan ingresar al sistema informático de la universidad donde estudian para
            cambiar las calificaciones obtenidas en una asignatura determinada. </p>
    </div>
    <div class="items">
        <input type="radio" name="riesgo3" [(ngModel)]="riesgo3" value="RI">
        <p class="ppp">Riesgo Inherente.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo3" [(ngModel)]="riesgo3" value="RC">
        <p class="ppp">Riesgo de Control.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="riesgo3" [(ngModel)]="riesgo3" value="RD">
        <p class="ppp">Riesgo de Detección.</p>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°8
    </div>
    <div>
        <p class="ppp">¿En cuál de los siguientes casos se puede observar mayor riesgo de auditoría?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="a">
            <p class="ppp">El auditor no cuenta con conocimientos técnicos suficientes para auditar la empresa que se le
                asigna. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="b">
            <p class="ppp">Cuando existen incorrecciones, como diferencias en las cantidades registradas,
                clasificaciones de cuentas o información revelada (voluntarias o involuntarias) que lleve al auditor a
                expresar una opinión inadecuada.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="c">
            <p class="ppp">La empresa no entrega la información requerida por el auditor, debiendo formular su opinión
                con escasez de evidencia.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="d">
            <p class="ppp">El auditor no es escéptico, y cree mayormente en la evidencia entregada por la empresa. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta8" [(ngModel)]="pregunta8" value="e">
            <p class="ppp">Solo B y C.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°9
    </div>
    <div>
        <p class="ppp">Analice el rol del auditor en la siguiente situación:</p>
        <p class="ppp">“‘Sociedad Marketing Luz’, es una empresa publicitaria que presta servicios a clientes tanto en
            el extranjero como dentro del país. Llegado el momento de realizar el proceso de auditoría, el comité
            directivo designa al sr. Lucas Montero, como experto (y miembro de la dirección) en preparar y reunir toda
            la información requerida por el auditor”.</p>
        <p class="ppp">En este caso, el auditor debe:</p>
        <p class="ppp">I. Evaluar la competencia, capacidad y objetividad del experto.</p>
        <p class="ppp">II. Obtener conocimientos de del trabajo del experto.</p>
        <p class="ppp">III. Evaluar la adecuación del trabajo del experto como evidencia de auditoría, en relación con
            la afirmación correspondiente. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="a">
            <p class="ppp">Solo I – II. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="b">
            <p class="ppp">Solo I – III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="c">
            <p class="ppp">Solo II – III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="d">
            <p class="ppp">Solo I – II - III. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta9" [(ngModel)]="pregunta9" value="e">
            <p class="ppp">Ninguna de las anteriores.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°10
    </div>
    <div>
        <p class="ppp">Dentro de los procedimientos de obtención y evaluación de evidencia de auditoría, se encuentran
            los siguientes:</p>
        <p class="ppp">I. Inspección – Observación – Confirmación.</p>
        <p class="ppp">II. Re Cálculo – Re Ejecución – Indagación.</p>
        <p class="ppp">III. Procedimientos Analíticos. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="b">
            <p class="ppp">Solo II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="c">
            <p class="ppp">Solo I – III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="d">
            <p class="ppp">Solo II – III. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta10" [(ngModel)]="pregunta10" value="e">
            <p class="ppp">I – II – III.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°11
    </div>
    <div>
        <p class="ppp">Analice la siguiente situación</p>
        <p class="ppp">“Durante el proceso de auditoría llevado a cabo en “Compañía Kenan S.A.”, el auditor requiere
            realizar confirmaciones externas, para lo cual, posterior a la aceptación de la directiva para realizarse el
            procedimiento, se contacta con un directivo del banco con el que la empresa se encuentra afiliada, quien
            conoce en estricto rigor, todas las transacciones llevadas a cabo y administra los contratos relacionados
            con la entidad bancaria. El directivo, conforme a lo expuesto en la solicitud del auditor, responde
            positivamente dando a conocer que participará del proceso, sin embargo, hay datos confidenciales, por los
            que debe pedir autorización a la dirección de la compañía antes de entregarlas”.</p>
        <p class="ppp">Es correcto afirmar que:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="a">
            <p class="ppp">El auditor recibe una solicitud de confirmación positiva, puesto que el directivo de la
                entidad bancaria, accede a entregar la información requerida.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="b">
            <p class="ppp">El auditor recibe una solicitud de confirmación negativa, ya que el directivo de la entidad
                bancaria, requiere solicitar autorización de la dirección de la empresa antes de revelar información
                confidencial.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="c">
            <p class="ppp">El auditor recibe una contestación en disconformidad de parte del directivo, por haber
                información confidencial que requiere aprobación de la dirección para ser revelada. El auditor, frente a
                esta situación, requerirá realizar procedimientos de indagación para determinar la negatividad de
                entregar información en su totalidad</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="d">
            <p class="ppp">El auditor recibe una contestación en disconformidad de parte del directivo de la entidad
                bancaria, tras lo cual debe buscar otras alternativas para obtener la evidencia de auditoría que
                requiere. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta11" [(ngModel)]="pregunta11" value="e">
            <p class="ppp">El auditor recibe una solicitud de confirmación negativa, tras lo cual deberá utilizar otros
                recursos para obtener la evidencia de auditoría que requiere.
            </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°12
    </div>
    <div>
        <p class="ppp">Uno de los objetivos fundamentales del auditor es expresar, con claridad, una opinión adecuada
            sobre los estados financieros.</p>
        <p class="ppp">Sin embargo, esta puede verse modificada cuando:</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="a">
            <p class="ppp">Los estados financieros contienen incorrecciones materiales.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="b">
            <p class="ppp">En caso de no poder obtener evidencia de auditoría suficiente y adecuada.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="c">
            <p class="ppp">En caso de haber emitido una opinión con errores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="d">
            <p class="ppp">Todas las anteriores.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta12" [(ngModel)]="pregunta12" value="e">
            <p class="ppp">Solo A) y B).</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°13
    </div>
    <div>
        <p class="ppp">La importancia relativa, según la NIA 320, se relaciona con dos conceptos estrechamente
            vinculados con el tratamiento de información contable. </p>
        <p class="ppp">Dichos conceptos son: </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="a">
            <p class="ppp">Incorrecciones Materiales y Riesgo de Auditoría. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="b">
            <p class="ppp">Razonabilidad y Significatividad. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="c">
            <p class="ppp">Razonabilidad e Independencia. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="d">
            <p class="ppp">Razonabilidad y Riesgo de Auditoría.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta13" [(ngModel)]="pregunta13" value="e">
            <p class="ppp">Ninguna de las anteriores. </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°14
    </div>
    <div>
        <p class="ppp">¿Cuáles son los componentes del Control Interno?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="a">
            <p class="ppp">Entorno de Control – Evaluación de los Riesgos – Actividades de Control – Supervisión –
                Comunicación.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="b">
            <p class="ppp">Evaluación de Riesgos – Diseño de Control – Comunicación. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="c">
            <p class="ppp">Entorno de Control – Actividades de Control – Supervisión – Comunicación. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="d">
            <p class="ppp">Todas las anteriores. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta14" [(ngModel)]="pregunta14" value="e">
            <p class="ppp">Solo B) y C). </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°15
    </div>
    <div>
        <p class="ppp">Lea la siguiente definición y responda:</p>
        <p class="ppp">Son controles proactivos diseñados para impedir la ocurrencia de eventos adversos y la pérdida de
            activos y/o recursos”.</p>
        <p class="ppp">¿A qué tipo de control interno corresponde la definición?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="a">
            <p class="ppp">Control de Prevención.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="b">
            <p class="ppp">Control de Corrección. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="c">
            <p class="ppp">Control de Detección. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="d">
            <p class="ppp">Control Operativo. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta15" [(ngModel)]="pregunta15" value="e">
            <p class="ppp">Ninguna de las anteriores. </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°16
    </div>
    <div>
        <p class="ppp">En un sistema de información, los controles son necesarios ya que:</p>
        <p class="ppp">I. Grandes cantidades de datos son procesados y se espera que ocurran errores humanos en la
            entrada de datos. </p>
        <p class="ppp">II. Se da lugar a errores involuntarios o accidentales que pueden generar pérdida de activos y de
            credibilidad del sistema. </p>
        <p class="ppp">III. Para proteger el sistema de un eventual ataque de virus informáticos.</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta16" [(ngModel)]="pregunta16" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" [(ngModel)]="pregunta16" value="b">
            <p class="ppp">Solo II. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" [(ngModel)]="pregunta16" value="c">
            <p class="ppp">Solo III. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" [(ngModel)]="pregunta16" value="d">
            <p class="ppp">Solo I – II. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta16" [(ngModel)]="pregunta16" value="e">
            <p class="ppp">Todas las anteriores. </p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°17
    </div>
    <div>
        <p class="ppp">¿Cuáles son las principales características de un control interno?</p>
        <p class="ppp">I. Oportuno, claro y sencillo. </p>
        <p class="ppp">II. Ágil, adaptable y realista. </p>
        <p class="ppp">III. Complejo y codificado. </p>
        <p class="ppp">IV. Flexible y eficaz. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta17" [(ngModel)]="pregunta17" value="a">
            <p class="ppp">Solo I y II.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" [(ngModel)]="pregunta17" value="b">
            <p class="ppp">Solo III y IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" [(ngModel)]="pregunta17" value="c">
            <p class="ppp">Solo I – II – IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" [(ngModel)]="pregunta17" value="d">
            <p class="ppp">Solo I – III – IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta17" [(ngModel)]="pregunta17" value="e">
            <p class="ppp">I – II – III – IV.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°18
    </div>
    <div>
        <p class="ppp">Lea el siguiente caso y responda:</p>
        <p class="ppp">“Un fabricante de balones de futbol operaba un gran almacén donde había miles de balones listos
            para ser embarcados. El encargado de almacén, conservaba registros detallados de inventarios. Sobrevino una
            escasez de balones a causa de un robo cometido por un empleado que sin autorización había conseguido la
            llave de la bodega.</p>
        <p class="ppp">El encargado de almacén, descubrió las diferencias entre los productos en existencia física y las
            cantidades registradas en los inventarios, pero por temor a que lo acusaran de negligencia, adulteró los
            registros para que coincidieran las cantidades. </p>
        <p class="ppp">Los robos continuaron generando grandes pérdidas a la empresa, hasta que el delito fue
            descubierto”.</p>
        <p class="ppp">¿Cuáles de los principios del control interno de la empresa son los que principalmente están
            fallando? </p>
        <p class="ppp"> I. Segregación de Funciones: Operación, custodia y registro.</p>
        <p class="ppp">II. Documentación Probatoria: Representación de respaldo de toda operación. </p>
        <p class="ppp">III. Dualidad de Personal: Al menos deben intervenir dos personas en cada operación.</p>
        <p class="ppp">IV. Asignación de Responsabilidades: Establecimiento claro de las responsabilidades de las
            personas, que cubran todas las operaciones de la empresa. </p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta18" [(ngModel)]="pregunta18" value="a">
            <p class="ppp">Solo I.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" [(ngModel)]="pregunta18" value="b">
            <p class="ppp">Solo I y II. </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" [(ngModel)]="pregunta18" value="c">
            <p class="ppp">Solo II y III.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" [(ngModel)]="pregunta18" value="d">
            <p class="ppp">Solo II – III – IV.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta18" [(ngModel)]="pregunta18" value="e">
            <p class="ppp">I – II – III – IV.</p>
        </div>
    </div>
</div>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta N°19
    </div>
    <div>
        <p class="ppp">Proceso de Auditoría al ciclo de Existencias. </p>
        <p class="ppp">La información presentada por la empresa “Flor de Loto”, en su libro mayor en relación al saldo
            inicial es de &#36;15.990.000. De acuerdo al auditor, el saldo inicial de mercadería está compuesto por 2000
            unidades valorizadas en &#36;9.990. ¿Cómo se registra la diferencia de saldos iniciales?</p>
    </div>
    <div>
        <div class="items">
            <input type="radio" name="pregunta19" [(ngModel)]="pregunta19" value="a">
            <p class="ppp">Se carga la cuenta mercaderías por &#36;3.990.000 y se abona la cuenta proveedores por
                &#36;3.990.000. (suponiendo que es una compra de mercadería no registrada). </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" [(ngModel)]="pregunta19" value="b">
            <p class="ppp">Se carga la cuenta mercaderías por &#36;3.990.000 e IVA crédito fiscal por &#36;758.100 y se
                abona la cuenta proveedores por &#36;4.748.100. (suponiendo que es una compra de mercadería no
                registrada). </p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" [(ngModel)]="pregunta19" value="c">
            <p class="ppp">Se carga la cuenta proveedores &#36;4.748.100 y se abona la cuenta mercaderías por
                &#36;3.990.000 e IVA crédito fiscal por &#36;758.100. (Suponiendo que se trata de una devolución de
                mercaderías).</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" [(ngModel)]="pregunta19" value="d">
            <p class="ppp">Únicamente se carga la cuenta mercaderías por &#36;3.990.000, puesto que la diferencia se
                encuentra solo en dicha cuenta.</p>
        </div>
        <div class="items">
            <input type="radio" name="pregunta19" [(ngModel)]="pregunta19" value="e">
            <p class="ppp">Ninguna de las anteriores.</p>
        </div>
    </div>
</div>
<h1>Segunda Parte: Ética.</h1>
<div class="pregunta">
    <div class="tituloPregunta">
        Pregunta 1
    </div>
    <div>
        <p class="ppp">¿Cuál de los siguientes principios deontológicos (deberes) básicos son característicos del
            Profesional Contador según el código de ética internacional?</p>
    </div>
    <div class="items">
        <p class="ppp">1.</p>
        <select [(ngModel)]="clasificacion1">
            <option value="-1">Seleccione</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
        </select>
        <p class="ppp">Integridad </p>
    </div>
    <div>
        <p class="ppp">Objetividad</p>
    </div>
    <div class="items">
        <input type="radio" name="syn2" [(ngModel)]="syn2" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn2" [(ngModel)]="syn2" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Fidelidad</p>
    </div>
    <div class="items">
        <input type="radio" name="syn3" [(ngModel)]="syn3" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn3" [(ngModel)]="syn3" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Independencia</p>
    </div>
    <div class="items">
        <input type="radio" name="syn4" [(ngModel)]="syn4" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn4" [(ngModel)]="syn4" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Responsabilidad</p>
    </div>
    <div class="items">
        <input type="radio" name="syn5" [(ngModel)]="syn5" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn5" [(ngModel)]="syn5" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Divisionismo</p>
    </div>
    <div class="items">
        <input type="radio" name="syn6" [(ngModel)]="syn6" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn6" [(ngModel)]="syn6" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Ímpetu</p>
    </div>
    <div class="items">
        <input type="radio" name="syn7" [(ngModel)]="syn7" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn7" [(ngModel)]="syn7" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Confidencialidad</p>
    </div>
    <div class="items">
        <input type="radio" name="syn8" [(ngModel)]="syn8" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn8" [(ngModel)]="syn8" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Respeto y Observancia de las disposiciones normativas y reglamentarias. </p>
    </div>
    <div class="items">
        <input type="radio" name="syn9" [(ngModel)]="syn9" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn9" [(ngModel)]="syn9" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Elocuencia</p>
    </div>
    <div class="items">
        <input type="radio" name="syn10" [(ngModel)]="syn10" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn10" [(ngModel)]="syn10" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Competencia y actualización profesional</p>
    </div>
    <div class="items">
        <input type="radio" name="syn11" [(ngModel)]="syn11" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn12" [(ngModel)]="syn12" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Difusión y Colaboración</p>
    </div>
    <div class="items">
        <input type="radio" name="syn13" [(ngModel)]="syn13" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn13" [(ngModel)]="syn13" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Respeto entre colegas</p>
    </div>
    <div class="items">
        <input type="radio" name="syn14" [(ngModel)]="syn14" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn14" [(ngModel)]="syn14" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Impulsividad</p>
    </div>
    <div class="items">
        <input type="radio" name="syn15" [(ngModel)]="syn15" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn15" [(ngModel)]="syn15" value="n">
        <p class="ppp">No.</p>
    </div>
    <div>
        <p class="ppp">Conducta ética</p>
    </div>
    <div class="items">
        <input type="radio" name="syn16" [(ngModel)]="syn16" value="s">
        <p class="ppp">Si.</p>
        <p class="ppp"></p>
        <p class="ppp"></p>
        <input type="radio" name="syn16" [(ngModel)]="syn16" value="n">
        <p class="ppp">No.</p>
    </div>
</div>