<section class="page-section" id="contact">
        <div class="container">
            <div class="row">
    
                <div class="col-lg-12 mx-auto">
                    <div class="form-group controls pregunta">
                        <label> Consideraciones </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="control-group cajapregunta">
    
                        <!-- --------------------------------------------------------------------------------- -->
                        <div class="row">
                            <div class="col-lg-12 mx-auto">
                                <div class="form-group controls">
                                    <p style="text-align: justify; margin-left: 10px; margin-right: 10px">El siguiente instrumento, es una prueba piloto que forma parte de un estudio experimental, el cual tiene como objetivo determinar si el profesional egresado o por egresar de la Carrera de Contador Público y Auditor cuenta con los conocimientos necesarios mínimos para ejercer, de acuerdo a los requerimientos establecidos por la Comisión Nacional de Acreditación (CNA) y por la Federación Internacional de Contadores (IFAC).</p>
                                    <p style="text-align: justify">Los resultados obtenidos no serán de conocimiento público y serán analizados por la alumna memorista, Srta. Francisca Espinoza Arriagada, bajo la supervisión de la profesora guía del proyecto, Sra. Estela Rodríguez Quezada.</p>
                                    <p style="text-align: justify">El objetivo de esta aplicación es validar el instrumento diseñado y realizar los ajustes pertinentes para su futura implementación y aplicación.</p>
                                </div>
                                <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="continuar()">continuar</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
        </div>
    </section>