<section class="page-section" id="contact">
    <div class="container">
        <h1><strong>Examen Técnico Contador Público y Auditor.</strong></h1>
        <p style="text-align: justify">El instrumento tiene por objetivo determinar si el profesional recién egresado o
            pronto a egresar, de la
            carrera de Contador Público y Auditor, cuenta con las competencias profesionales mínimas del área tributaria
            y jurídico - laboral, establecidos por la Comisión Nacional de Acreditación (CNA) y por la Federación
            Internacional de Contadores (IFAC) para el ejercicio de la profesión.<br>Los resultados serán analizados por
            la
            alumna
            memorista, Srta. Francisca Espinoza Arriagada, con el fin de
            validar el instrumento diseñado y realizar los ajustes pertinentes para su futura implementación y
            aplicación.</p>
        <div class="row">

            <div class="col-lg-12 mx-auto">
                <div class="form-group controls pregunta">
                    <label> Resultados de las pruebas </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="control-group cajapregunta">

                    <!-- --------------------------------------------------------------------------------- -->
                    <div class="row">
                        <div class="col-lg-4 mx-auto">
                            <div class="form-group controls" style="text-align: center">
                                <h3><strong>Pruebas</strong></h3>
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        Economía y Finanzas
                                    </div>
                                    <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="prueba1()">ir</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        Administración, Gobernanza y Administración de Riesgos
                                    </div>
                                    <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="prueba2()"
                                            title="Administración, Gobernanza y Administración de Riesgos">ir</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        Tributación y Derecho Laboral
                                    </div>
                                    <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="prueba3()">ir</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        Auditoría y Ética
                                    </div>
                                    <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="prueba4()">ir</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 mx-auto">
                                        Contabilidad General y Contabilidad de Costos
                                    </div>
                                    <div class="col-lg-2 mx-auto">
                                        <button class="btn btn-primary btn-xl" (click)="prueba5()">ir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mx-auto">
                            <div class="form-group controls" style="text-align: center">
                                <h3><strong>Porcentaje de Aciertos</strong></h3>
                            </div>
                        </div>
                        <div class="col-lg-4 mx-auto">
                            <div class="form-group controls" style="text-align: center">
                                <h3><strong>Tiempo</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
    </div>
</section>